h1 {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 30px;
}


label {
  font-weight: 700;
}

input[type="number"], input[type="text"] {
  width: 100%;
  border: none;
  border-bottom: 2px solid #fad7bb;
  color: #000000;
  background: transparent;
  height: 26px;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 25px;
  margin-top: 15px;
  outline: none;
}


.edit-order-success {
  transition: ease-in-out 0.3s;
  width: 100%;
  border: none;
  font-weight: 400;
  height: 40px;
  font-size: 18px;
  margin-top: 10px;
  outline: none;
  background-color: #43d416;
  color: #ffffff;
  border-radius: 5px;
  letter-spacing: 2px;
  cursor: pointer;
}

.edit-order-cancel {
  transition: ease-in-out 0.3s;
  width: 100%;
  border: none;
  font-weight: 400;
  height: 40px;
  font-size: 18px;
  margin-top: 10px;
  outline: none;
  background-color: #ef2d2d;
  color: #ffffff;
  border-radius: 5px;
  letter-spacing: 2px;
  cursor: pointer;
}

.edit-order:hover {
  background-color: #fad7bb;
}
