#header {
  background-color: #fad7bb;
  width: 100%;
  position: static;
}

#border {
  width: 100%;
  padding-left: 500px;
  padding-right: 500px;
  position: static;
}
#buttons{
  position:static;
  display: block;
  width: 370%;
  text-align: center;
  margin: 0;
}
#button1{
  margin: 2px;
}
#button2{
  margin: 10px;
}


