<!--CRIACAO DE FORMULARIO PARA BUSCAR OS DADOS DE LARAVEL PARA O ANGULAR-->
<div id="header" class="container">
  <h2>
    Olá!
    <br>
    Seja bem-vindo.
  </h2>
  <hr/>
</div>
<br>
<div id="border">
  <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">

    <!--CAMPO DE NOME DO PRODUTO-->
    <div class="form-group" [ngClass]="aplicaCssErro(nameprod)">
      <label for="name" class="control-label">Nome do produto: </label>
      <input type="text" class="form-control"  name="name" id="name"
             [(ngModel)]="produto.name"
             required minlength="4" #nameprod="ngModel">

      <!--mostrara na tela que precisa ser inserido os valores-->
      <app-campo-control-erro
        [mostrarErro]="verificaValidTouched(nameprod)"
        msgErro="Nome do produto é obrigatório">
      </app-campo-control-erro>
    </div>

    <!--CAMPO DE TAMANHO DO PRODUTO-->
    <div class="form-group" [ngClass]="aplicaCssErro(sizeprod)">
      <label for="size" class="control-label">Tamanho do Produto: </label>
      <select class="form-control" name="size" id="size"
              [(ngModel)]="produto.size" required #sizeprod="ngModel">
        <option *ngFor="let size of sizes">{{size.tamanho}}</option>
      </select>

      <!--mostrara na tela que precisa ser inserido os valores-->
      <app-campo-control-erro
        [mostrarErro]="verificaValidTouched(sizeprod)"
        msgErro="Tamanho do produto é obrigatório">
      </app-campo-control-erro>
    </div>

    <!--CAMPO DE DESCRIÇÃO DO PRODUTO-->
    <div class="form-group" [ngClass]="aplicaCssErro(descprod)">
      <label for="description" class="control-label">Descrição do Produto: </label>
      <input type="text" class="form-control" name="description" id="description"
             [(ngModel)]="produto.description" required #descprod="ngModel">

      <!--mostrara na tela que precisa ser inserido os valores-->
      <app-campo-control-erro
        [mostrarErro]="verificaValidTouched(descprod)"
        msgErro="Descrição do produto é obrigatório">
      </app-campo-control-erro>
    </div>

    <!--CAMPO DE PRECO-->
    <div class="form-group" [ngClass]="aplicaCssErro(priceprod)">
      <label for="price" class="control-label">Preço do Produto: </label>
      <input type="text" class="form-control" name="price" id="price"
             [(ngModel)]="produto.price" required #priceprod="ngModel">

      <!--mostrara na tela que precisa ser inserido os valores-->
      <app-campo-control-erro
        [mostrarErro]="verificaValidTouched(priceprod)"
        msgErro="Preço do produto é obrigatório">
      </app-campo-control-erro>
    </div>


    <div id="buttons">
      <div id="button1" class="col-sm-12 col-md-6 col-xl-4">
        <button type="submit" class="btn btn-success btn-lg" [disabled]="!formulario.valid">Salvar</button>
      </div>
      <div id="button2" class="col-sm-12 col-md-6 col-xl-4">
        <button class="btn btn-danger btn-lg" (click)="resetar()">Cancelar</button>
      </div>
    </div>




  </form>


  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <app-form-debug [form]="formulario"></app-form-debug>
</div>
