
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 82%;
  text-align-last: center;
}

td, th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 9px;

}

tr:nth-child(even) {
  background-color: #fad7bb;
}

.modal {
  background: #333333;
  border-radius: 8px;
  box-shadow: 0 2px 8px #333;
  min-width: 320px;
  position: fixed;
  left: 50%;
  padding: 24px;
  top: 50%;
  transform: translate(-50%, -50%);
}
