
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 82%;
}

td, th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 9px;
}

tr:nth-child(even) {
  background-color: #fad7bb;
}

