<div>
  <h3> Pedidos:</h3>
    <table>
      <tr>
        <th>Cliente</th>
        <th>Nome do Produto</th>
        <th>Descrição</th>
        <th>Tamanho</th>
        <th>Preço</th>
        <th>Data do Pedido</th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let pedido of form">
        <td>{{pedido.cliente_id}}</td>
        <td>{{pedido.name}}</td>
        <td>{{pedido.description}}</td>
        <td>{{pedido.size}}</td>
        <td>{{pedido.price.toString().replace('.', ',')}}</td>
        <td>{{pedido.created_at | date: 'dd/MM/yyyy'}}</td>
        <td><button (click)="delete(pedido.id)">Delete</button></td>
        <td><button (click)="updateOrder(pedido['id'])">Editar</button></td>
      </tr>
    </table>
</div>

